Click a Name to list their Youtube videos:

<ul>
  {{#each model as |legislator|}}
    <li> <a href="/congress/{{legislator.youtube_id}}">{{legislator.first_name}} {{legislator.last_name}}</a> <br>Contact: <a href=  {{legislator.contact_form}}>{{legislator.contact_form}}</a></li>
  {{/each}}
</ul>
